
        body{
            margin: 0;    
            padding: 0;
            background:  #d9b08c;
            color: #2c3531;
        }
        .navbar{
            display: inline-flex;
            margin-left: 8%;
            list-style-type: none;
        }
        .hyperl{
            text-decoration: none; 
            color: #d9b08c;
            padding: 2.3em;
            font-size: 3em;
        }
        footer .hyperl{
            padding-bottom: 0em;
        }
        .hyperl:hover{
            background:  #d9b08c;
            color: #116466;
        }

        .head, footer{
            width: 100%; 
            background: #116466;
            border: none;
        }
        .hl{
            font-size: 2em;
            color: #d9b08c;
            text-align: center;
        }
        .themes{
            display: inline-flex;
            margin-left: 6%;
            padding-left: 1.5em;
        }
        button a{
            text-decoration: none;  
        }
        .top{
            width: 100%; 
            background-color: rgb(179, 68, 4);
            border: none;
        }
        .pull-left{
            text-decoration: none; 
            font-size: 3em; 
            color:  rgb(216, 178, 91);
        }
        
        
        
        a:hover {
            text-decoration: none;
           }

        
        a{
            color: white;
        }
        #animals{
            border-radius: 20px; 
            font-size: 2.5em; 
            background: rgb(75, 59, 7);
            color: black;
        }
        #nature{
            border-radius: 20px; 
            font-size: 2.5em; 
            background: rgb(5, 88, 9);
            color: black;
        }
        #chemistry{
            border-radius: 20px; 
            font-size: 2.5em; 
            background: rgb(29, 72, 212);
            color: black;
        }
        #astrophysics{
            border-radius: 20px; 
            font-size: 2.5em; 
            background: rgb(75, 8, 131);
            color: black;
        }
        .navbar{
            border: none;
        }
        .FF{
            margin-left: 14%;
            width: 1000px;
            height: 600px;

        }
        .sec2{
            padding: 4em;
            /* background: #2c3531; */
            background: #116466;
            
        }
        .announcement{
            font-size: 2.7em;
            text-align: center;
        }
        .epTitle{
            margin-left: 15%;
            font-size: 1.5em;
        }
        .eduvids{
            margin-left: 27%;
        }
        .ev{
            padding: 1em;
        }